<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ContextConfig" type="HLF.ContextConfig.ContextConfigDomainsSection,jumps.umbraco.usync" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <ContextConfig>
    
    <!-- Add a line for each domain you plan on having-->
    <Domains>
      <Domain url="mysite.local" env="local"/>
      <Domain url="mysite.dev" env="dev"/>
      <Domain url="mysite.stage" env="staging"/>
      <Domain url="mysite.com" env="live"/>
      <Domain url="*" env="live"/> <!-- handles any additional domains, delete if you'd prefer that "unknown" be returned-->
    </Domains>
    
    <Environments>
      <!-- The "default" Env holds default values, to be used if there isn't a specific value specified for an environment -->
      <Env name="default">
        <add key="MyAppKey" value="Default Value"/>
        <add key="LiveOnlyAppKey" value="Default for all env other than live"/>
      </Env>
      <Env name="local">
        <add key="MyAppKey" value="Value for Local"/>
      </Env>
      <Env name="dev">
        <add key="MyAppKey" value="Value for Dev"/>
      </Env>
      <Env name="staging">
        <add key="MyAppKey" value="Value for Staging"/>
      </Env>
      <Env name="staging">
        <add key="MyAppKey" value="Value for Live"/>
        <add key="LiveOnlyAppKey" value="Live-specific Value"/>
      </Env>
    </Environments>

  </ContextConfig>
  
</configuration>
