<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ContextConfig" type="HLF.ContextConfig.ConfigSettings, HLF.ContextConfig" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <ContextConfig version="1.1" OverrideConfigurationManager="true" >
    <!-- Add a line for each domain you plan on having-->
    <Domains>
      <Domain url="mysite.local" environment="local" sitename="MySite"/>
      <Domain url="localhost:52426" environment="local" sitename="MySite"/>
      <Domain url="mysite.dev" environment="dev" sitename="MySite"/>
      <Domain url="mysite.stage" environment="staging" sitename="MySite"/>
      <Domain url="mysite.com" environment="live" sitename="MySite"/>
      <Domain url="*" environment="live" sitename="MySite"/><!-- handles any additional domains, delete if you'd prefer that an error be raised -->
    </Domains>

    <Environments>
      <!-- The "default" Environment holds default values, to be used if there isn't a specific value specified for an environment -->
      <Environment name="default">
        <Configs>
          <add key="MyAppKey" value="Default Value"/>
          <add key="LiveOnlyAppKey" value="Default for all env other than live"/>
          <add key="OverrideTest" value="Default from ContextConfig.config"/>
        </Configs>
        <SmtpSettings deliveryMethod="SpecifiedPickupDirectory" from="default@truc.muche" deliveryFormat="International">
          <network clientDomain="defaultDomain" defaultCredentials="false" enableSsl="true" host="mydefaulthost" password="default1234" port="1024" targetName="defaultTarget" userName="defaultuser" />
          <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\default"/>         
        </SmtpSettings>
      </Environment>
      <Environment name="local">
        <Configs>
          <add key="MyAppKey" value="Value for Local"/>
          <!--<add key="OverrideTest" value="Local from ContextConfig.config"/>-->
        </Configs>
         <SmtpSettings deliveryMethod="SpecifiedPickupDirectory" from="test@truc.muche" deliveryFormat="International">
          <network clientDomain="phv" defaultCredentials="false" enableSsl="true" host="myhost" password="1234" port="1024" targetName="xxx" userName="mememe" />
          <specifiedPickupDirectory pickupDirectoryLocation="c:\temp"/>         
        </SmtpSettings>
     </Environment>
      <Environment name="dev">
        <Configs>
          <add key="MyAppKey" value="Value for Dev"/>
        </Configs>
      </Environment>
      <Environment name="staging">
        <Configs>
          <add key="MyAppKey" value="Value for Staging"/>
        </Configs>
      </Environment>
      <Environment name="live">
        <Configs>
          <add key="MyAppKey" value="Value for Live"/>
          <add key="LiveOnlyAppKey" value="Live-specific Value"/>
        </Configs>
        <SmtpSettings>
        </SmtpSettings>
      </Environment>
    </Environments>

  </ContextConfig>
</configuration>
